
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div class="jumbotron">
    <button type="button" id="btnGarage">Carga Garage</button>
    <button type="button" id="btnGarageSimple">Carga Garage Simple</button>
    <button type="button" id="btnLimpiar">Limpiar Dato</button>

</div>
<div id="divGarage"></div>
@section scripts{
<script>
    $(document).ready(function () {
        $("#btnGarage").click(function () {
            $("#divGarage").load("_Garage");
        });
        $("#btnGarageSimple").click(function () {
            $("#divGarage").load("_GarageSimple");
        });
        $("#btnLimpiar").click(function () {
            $("#divGarage").html("");
        });
    });
</script>
}
